body {
    margin: 0;
    padding: 0;
}

.Izquierda {
    background: #ffffff;
    height: 577px;
    width: 700px;
}

.Derecha {
    background: #ffffff;
    height: 577px;
    width: 700px;
}

#pantalla-dividida {
    display: flex;
}